<div class="notification-block notification-block--{{ display_mode }}"
     data-notificationblock-display-mode="{{ display_mode }}"
     data-notificationblock-show-read="{{ show_read ? 'yes': 'no' }}"
     data-notificationblock-hide-empty="{{ hide_empty ? 'yes' : 'no' }}"
     data-notificationblock-disable-ajax="{{ disable_ajax ? 'yes' : 'no' }}" >
  {% if display_mode == 'simple' %}
    <div class="notification-dropdown notification-dropdown__trigger">
      <div class="">{{ 'Notifications'|t }} <span class="notification-counter is-hidden">0</span></div>
      <div class="notification-dropdown__content {{ disable_ajax and content|render|striptags|trim is empty ? 'is-empty' }}">
        {% if disable_ajax %}
          {{ content }}
        {% else %}
          <div class="notification-block__placeholder">{{ content }}</div>
        {% endif %}
        <div class="notification-block__empty">{{ empty_message }}</div>
      </div>
    </div>
  {% endif %}

  {% if display_mode == 'bundled' %}
    <div class="notification-groups">
        {% if disable_ajax %}
          {{ content }}
        {% else %}
          <div class="notification-block__placeholder">{{ content }}</div>
        {% endif %}
    </div>
  {% endif %}
</div>
